body {
  margin: 0;
  font-family: "Heebo", sans-serif;
}
nav {
  text-align: center;
  font-size: larger;
  margin-bottom: 5px;
}
.nav-spacing {
  margin-right: 100px;
}
button {
  border: 0;
  padding: 10px;
}
#herro-img {
  position: relative;
  height: 600px;
  width: 100%;
  background: rgba(0, 0, 0, 0);
}
header h1,
h2 {
  color: rgba(255, 255, 255, 0.931);
  font-size: 60px;
  margin-top: 120px;
}
header h2 {
  margin-top: 50px;
}
.absolute-heading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 600px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 34px;
}
button {
  transition-duration: 0.4s;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.863);
  color: white;
}
button:hover {
  background-color: red;
  color: white;
}
section {
  margin-top: 60px;
  text-align: center;
}
.second-section header h3 {
  color: rgba(255, 0, 0, 0.678);
  font-size: 30px;
}
.second-section header h4 {
  color: gray;
  font-size: 30px;
  margin-top: -10px;
}
.second-section header p {
  font-size: 20px;
}
.further-questions {
  margin-top: 60;
  font-weight: 600;
  font-size: 30px;
  color: black;
}
.a-style {
  text-decoration: none;
}
.footer-img {
  width: 250px;
  height: 200px;
  margin-top: 50px;
}
.inline-block {
  display: inline-block;
}
.third-section {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
#mid-page-img {
  position: relative;
  height: 450px;
  width: 100%;
}
.absolute {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 450px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.our-numbers-design {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: 180px 190px 50px 50px;
}
.extra-service {
  display: inline-block;
  text-align: left;
  width: 30%;
  margin-top: 0;
}
#extra-service-img {
  height: 300px;
  width: 500px;
}
.forth-section {
  text-align: center;
  background-color: rgb(182, 174, 103);
}
footer h2 {
  color: rgba(200, 193, 193, 0.712);
  margin-bottom: 0;
}
footer a {
  text-decoration: none;
}
footer p {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.form-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 680px;
}

.form-flex label {
  margin: 5px 10px 5px 0;
}

.form-flex input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
}

.form-flex button {
  padding: 1px 10px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-flex button:hover {
  background-color: royalblue;
}
